body{
    margin: 0;
}
.background{
    width: 1000px;
    height: 800px;
}
.icon_user{
    width: 200px;
    height: 200px;
    background-image: url("picturee/snow_home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}